body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.bg-dark {
	background-color: #eee;
	margin-top: 3em;
	padding-top: 2em;
}
.d-block {
	cursor: pointer;
}

  .row-buttons {
        width: 100%;
        height: 3em;
        margin-top: 1em;
    }

    .row-buttons-container {
        width: 80%;
        height: 100;
        text-align: center;
        margin: 0 auto;
    }


        #modalx {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(33, 37, 41,0.5);
        z-index: 100;
        transition-delay: 0s;
        transition-duration: 0.15s;
        transition-property: opacity;
        transition-timing-function: linear;
    }

    #modal-dialog {
        width: 80%;
        border-radius: .45em;
        box-shadow: 2px 3px 1px #2ae;
        height: auto;
        background-color: #e8e8e8;
        display: block;
        ;

        text-align: center;
        /* margin: 5em; */
        opacity: 1;
        position: relative;
        top: 5em;
        left: 10%;
    }

    #modal-dialog .top, #modal-dialog .middle, #modal-dialog .bottom {
        height: 3em;
        border-bottom: 1px solid #3ee;
        margin:0 2em;
    }
    #modal-dialog .middle {
    	height: auto;
    }

    #modal-dialog .bottom  {
        border-bottom:  none;
    }
    .close {
        height: .8em;
        font-weight: 800;
        margin-top: 1em;

    }