<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TEST</title>
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <link href="stylesheets/bootstrap-theme.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">
</head>

<body ng-app="assettApp" ng-controller="assettCtrl">
    <div id="modalx" ng-show="showModal">
        <div id="modal-dialog">
            <div class="top">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showModal=false">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="middle">
                <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
                    <span class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail"   ng-src="{{selected_video.image_url}}"  >
            </span>" 
                    <div class="video-title"> {{selected_video.title}}</div>
                    <div class="video-date"> {{selected_video.description}}</div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
    <div class="container">
        <h1 class="my-4 text-center text-lg-left">Video Gallery</h1>
        <!-- <div class="row">{{selected_video |json }}</div> -->
        <div class="row">
            <h3>Search on people and terms:</h3>
            <input type="text" ng-model="search" class="form-control" style="width: 20em;" />
        </div>
        <h3>Resulted number of items : {{filteredVideo.length}}</h3>
        <div class="row text-center text-lg-left">
            <!-- <div ng-repeat=" js_car in js_cars | startFrom : currentPage * elementsOnPage | searchModel:search   |limitTo: 20  as filteredCars " class="col-xs-12 col-sm-6 col-md-3  "></div> -->
            <div ng-repeat="video in videos | startFrom : currentPage * elementsOnPage | searchModel:search   |limitTo: elementsOnPage  as filteredVideo ">
                <assett-video video="video"></assett-video>
            </div>
        </div>
        <div class="row-buttons">
            <div class="row-buttons-container">
                <button type="button" class="btn btn-info" ng-disabled="currentPage===1" ng-click="currentPage=currentPage-1;">&lt;&lt; </button>
                <span>{{currentPage}} of {{numberOfPages()}}</span>
                <button type="button" class="btn btn-info" ng-disabled="currentPage>numberOfPages()-1" ng-click="currentPage=currentPage+1;">&gt;&gt;</button>
            </div>
        </div>
        <!-- /.container -->
        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">2017 TEST</p>
            </div>
        </footer>
        <script src="javascripts/angular.js"></script>
        <script src="javascripts/assettv.js"></script>
</body>

</html>